.header {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  width: 100%;

  background-color: var(--color-white);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

  line-height: var(--height-header);

  z-index: 1;

  transition: top 0.4s;
}

.header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: var(--width-layout);
  margin: auto;
}

.header_list-item {
}

.header__logo {
  max-width: 100px;
}

.header__item-link {
  color: var(--color-blue);

  font-size: var(--font-size-logo);
  text-decoration: none;
}

.header__item-link:hover {
  color: var(--color-black);
}
